@tailwind base;
@tailwind components;
@tailwind utilities;



.cartHold {
    width: 75%;
 
    background-color: rgb(244, 191, 191);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    overflow:visible;
      
  
}


.container{
  
display:grid;
grid-template-columns: 1fr 1fr 1fr;
overflow: visible;
}
.col{
  
  grid-template-columns: max-content;
  float: none;
  width: auto;
  
  padding: 8px;
}


.body{
  background: #ddd;
  min-height: 100vh;
  vertical-align: middle;

  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  min-height: 100vh;
  overflow:auto;
}
.title{
  margin-bottom: 5vh;
}
.card-img-top{
  height: 300px; 
  width: auto; 
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 16px;
  width: 350px;
  max-height: 900px;
}
.cardP {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 16px;
    width: auto;
    display:grid;
    grid-template-columns: max-content;
}

.button {
  background-color: #4CAF50; /* Green */
  color: white;
}


